:root {
 --primary-color: #205375;
 --secundary-color: #EFEFEF;
 --tertiary-color: #112B3C;
 --quartiary-color: #F66B0E;
}
/*Nav bar*/
.navbar { 
 background-color: var(--primary-color);
 color: var(--secundary-color);
 height: 70px;
}

.navbar ul{
 display: flex;
}

.navbar a {
 color: var(--secundary-color);
 margin: 0 18px;
 padding: 3px 0px;
 transition: all 0.15s;
}

.navbar a:hover{
 border-bottom: 2px var(--secundary-color) solid;
}

.navbar .flex{
 justify-content: space-between;
}

@media screen and (max-width: 800px) {
 .navbar .flex{
  flex-direction: column;
  justify-content: center;
  overflow:hidden
 }

 .navbar{
  height: 100px;
 }

 .navbar a{
  margin-top: -12px;
  font-size: 12px;
  margin: 0px 14px;
 }

}