<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/utilities.css">
    <link rel="stylesheet" href="../css/expirence.css">
    <title>Document</title>
</head>
<body>
    <!-- Expirence -->
    <section class="expirence">
        <div class="container flex-r flex-join-separate">
            <div class="expirence-title text-center">
                <div class="image-container">
                    <img src="../assets/logo-1.png" alt="">
                </div>
                <div class="position">
                    <h3>Programador</h3>
                    <h4><em>2021 sep - Today</em></h4>
                </div>
            </div>
            <div class="expirence-information ">
                <P>	&middot; Automate processes</P>
                <P>	&middot; Transfer programs from one technology to another</P>
                <P>	&middot; Manage .shp files and route graphing</P>
                <P>	&middot; Server maintenance</P>
                <P>	&middot; Work with the database</P>
                <p> &middot; GTFS management</p>
            </div>
        </div>
    </section>
</body>
</html>