<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/utilities.css" />
    <link rel="stylesheet" href="../../css/navbar.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/technologies.css" />
    <link rel="stylesheet" href="../css/expirience.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/showcase.css" />
    <title>Home</title>
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">Abel Murgas</h1>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="favoriteTecnology.html">Expirience</a></li>
            <li><a href="myProyects.htlm">Projects</a></li>
            <li><a href="favoriteTecnology.html">Technologies</a></li>
            <li><a href="conctactMe.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- showcase-->
    <section class="showcase">
      <div class="container grid">
        <div class="showcase-text">
          <div class="container flex-c">
            <div>
              <h1>Full Stack Python Developer</h1>
            </div>
            <div>
              <p>
                Hello! I am a software engineer who loves all areas of
                technology especially data science,dedicated to finding
                solutions through technology and teaching these solutions to
                people who want to learn.
              </p>
              <p>
                I always try to learn every day, and most likely in a week this
                resume will change
              </p>
            </div>
            <div>
              <a href="myProyects.htlm" class="btn btn-outline btn-contact"
                >See my Projects</a
              >
            </div>
          </div>
        </div>
        <div class="showcase-form card">
          <h2>Request an interview</h2>
          <form action="">
            <div class="form-control">
              <input type="text" name="name" placeholder="Name" required />
            </div>
            <div class="form-control">
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="form-control">
              <input type="text" name="company" placeholder="Company" />
            </div>
            <input type="submit" value="Send" class="btn btn-forms" />
          </form>
        </div>
      </div>
    </section>
    <!-- Expirience -->
    <section class="expirience">
      <div class="container flex-r flex-join-separate">
        <div class="expirience-title text-center">
          <div class="image-container">
            <a href=""><img src="../assets/MibusLogo.png" alt="" /></a>
          </div>
          <div class="position">
            <h3>Programmer</h3>
            <h4><em>2021 sep - Today</em></h4>
          </div>
        </div>
        <div class="expirience-information">
          <p>&middot; Automate processes</p>
          <p>&middot; Transfer programs from one technology to another</p>
          <p>&middot; Manage .shp files and route graphing</p>
          <p>&middot; Server maintenance</p>
          <p>&middot; Work with the database</p>
          <p>&middot; GTFS management</p>
        </div>
      </div>
    </section>
    <!--Tecnologies-->
    <section class="technologies">
      <div class="title-section container">
        <h2>Favorite Technologies I Use</h2>
      </div>
      <div class="lenguage flex-r container">
        <div class="each-lenguage flex-c">
          <div class="lenguage-content card flex-c card-m">
            <div>
              <h3>Python</h3>
            </div>
            <div class="">
              <img src="../assets/python-logo.png" alt="" />
            </div>
          </div>
          <div class="framework flex-r flex-wrap">
            <div class="each-framework card card-little flex-c">
              <div>
                <h3>Django</h3>
              </div>
              <div class="">
                <img src="../assets/django-logo.png" alt="" />
              </div>
            </div>
            <div class="each-framework card card-little flex-c">
              <div>
                <h3>Flask</h3>
              </div>
              <div class="">
                <img src="../assets/flask-logo.png" alt="" />
              </div>
            </div>
            <div class="each-framework card card-little flex-c">
              <div>
                <h3>TensorFlow</h3>
              </div>
              <div class="">
                <img src="../assets/Tensorflow-logo.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="each-lenguage flex-c">
          <div class="lenguage-content card flex-c card-m">
            <div>
              <h3>Java</h3>
            </div>
            <div class="">
              <img src="../assets/java-logo.png" alt="" />
            </div>
          </div>
          <div class="framework flex-r flex-wrap flex-top">
            <div class="each-framework card card-little flex-c card-m">
              <div>
                <h3>Spring</h3>
              </div>
              <div class="">
                <img src="../assets/Sprint-logo.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="each-lenguage flex-c">
          <div class="lenguage-content card flex-c card-m">
            <div>
              <h3>JavaScript</h3>
            </div>
            <div class="">
              <img class="" src="../assets/js-logo.png" />
            </div>
          </div>
          <div class="framework flex-r flex-wrap">
            <div class="each-framework card card-little flex-c">
              <div>
                <h3>React</h3>
              </div>
              <div class="">
                <img src="../assets/react-logo.png" alt="" />
              </div>
            </div>
            <div class="each-framework card card-little flex-c">
              <div>
                <h3>Node js</h3>
              </div>
              <div class="">
                <img src="../assets/node-logo.png" alt="" />
              </div>
            </div>
            <div class="each-framework card card-little flex-c">
              <div>
                <h3>Angular</h3>
              </div>
              <div class="">
                <img src="../assets/angular-logo.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-technologies-container container text-center">
        <a href="myProyects.htlm" class="btn btn-outline btn-technologies"
          >Other Technologies</a
        >
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
      <div class="container grid grid-3">
        <div class="thanks flex-c">
          <div>
            <h3>
              Thank you for viewing my website, I appreciate you taking your
              time to view my information. If you want to know more about me,
              I'm waiting for your email.
            </h3>
          </div>
          <div>
            <a href="myProyects.htlm" class="btn btn-outline btn-contact"
              >Contact me</a
            >
          </div>
        </div>
        <div class="reduce-menu flex-c">
          <div>
            <a href="">Home</a>
          </div>
          <div>
            <a href="">Projects</a>
          </div>
          <div>
            <a href="">Technologies</a>
          </div>
        </div>
        <div class="contact-information flex-c">
          <div class="general-information flex-c">
            <div>
              <i class="fa-solid fa-phone"></i> <span> + 507 6899-3354</span>
            </div>
            <div>
              <i class="fa-solid fa-house"></i>
              <span> Panama Don Boscom, Bello Horizonte</span>
            </div>
            <div>
              <i class="fa-solid fa-envelope"></i
              ><span> abelmurgasdev@gmail.com</span>
            </div>
          </div>
          <div class="social-media flex-r flex-join-separate">
            <div>
              <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div>
              <a href=""><i class="fa-brands fa-github"></i></a>
            </div>
            <div>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
