<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/utilities.css" />
    <link rel="stylesheet" href="../css/tecnologies.css" />
    <title>Document</title>
</head>

<body>
    <section class="tecnologies">
        <div class="title-section container">
            <h2>Favorite Tecnologies I Use</h2>
        </div>
        <div class="lenguage grid grid-3">
            <div class="each-lenguage flex-c">
                <div class="lenguage-content card flex-c card-m">
                    <div>
                        <h3>Python</h3>
                    </div>
                    <div class="">
                        <img class="image-m"  src="../assets/python-logo.png" alt="" />
                    </div>
                </div>
                <div class="framework flex-r flex-wrap">
                    <div class="each-framework card card-little flex-c ">
                        <div>
                            <h3>Django</h3>
                        </div>
                        <div class="">
                            <img src="../assets/django-logo.png" alt="" />
                        </div>
                    </div>
                    <div class="each-framework card card-little flex-c">
                        <div>
                            <h3>Flask</h3>
                        </div>
                        <div class="">
                            <img src="../assets/flask-logo.png" alt="" />
                        </div>
                    </div>
                    <div class="each-framework card card-little flex-c">
                        <div>
                            <h3>TensorFlow</h3>
                        </div>
                        <div class="">
                            <img src="../assets/Tensorflow-logo.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="each-lenguage flex-c">
                <div class="lenguage-content card flex-c">
                    <div>
                        <h3>Java</h3>
                    </div>
                    <div class="">
                        <img class="image-m" src="../assets/java-logo.png" alt="" />
                    </div>
                </div>
                <div class="framework flex-r flex-wrap flex-top">
                    <div class="each-framework card card-little flex-c card-m">
                        <div>
                            <h3>Spring</h3>
                        </div>
                        <div class="">
                            <img src="../assets/Sprint-logo.png" alt="" />
                        </div>
                    </div>
                </div> 
            </div>
            <div class="each-lenguage flex-c">
                <div class="lenguage-content card flex-c card-m">
                    <div>
                        <h3>JavaScript</h3>
                    </div>
                    <div class="">
                        <img class="image-m" src="../assets/js-logo.png">
                    </div>
                </div>
                <div class="framework flex-r flex-wrap">
                    <div class="each-framework card card-little flex-c">
                        <div>
                            <h3>React</h3>
                        </div>
                        <div class="">
                            <img src="../assets/react-logo.png" alt="" />
                        </div>
                    </div>
                    <div class="each-framework card card-little flex-c">
                        <div>
                            <h3>Node js</h3>
                        </div>
                        <div class="">
                            <img src="../assets/node-logo.png" alt="" />
                        </div>
                    </div>
                    <div class="each-framework card card-little flex-c">
                        <div>
                            <h3>Angular</h3>
                        </div>
                        <div class="">
                            <img src="../assets/angular-logo.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <a href="myProyects.htlm" class="btn btn-outline btn-tecnologies">Other tecnologies</a>
        </div>
    </section>
            <!-- 
        <div class="each-lenguage">
          <div>
            <h3>Java</h3>
          </div>
          <div>
            <img class="" src="../assets/java-logo.png" alt="" />
          </div>
        </div>
        <div class="framework">
          <div class="each-framewoks">
            <div>
              <h3>Python</h3>
            </div>
            <div class="">
              <img src="../assets/python-logo.png" alt="" />
            </div>
          </div>
          <div class="each-framewoks">
            <div>
              <h3>Python</h3>
            </div>
            <div class="">
              <img src="../assets/python-logo.png" alt="" />
            </div>
          </div>
          <div class="each-framewoks">
            <div>
              <h3>Python</h3>
            </div>
            <div class="">
              <img src="../assets/python-logo.png" alt="" />
            </div>
          </div>
        </div>
        <div class="each-lenguage">
          <div>
            <h3>Dart</h3>
          </div>
          <div class="">
            <img class="" src="../assets/dart-logo.png" alt="" />
          </div>
        </div>
        <div class="each-lenguage">
          <div>
            <h3>JavaScript</h3>
          </div>
          <div class="">
            <img class="" src="../assets/JavaScript-Logo.png" alt="" />
          </div>
        </div>
        -->
        
</body>

</html>