:root {
 --primary-color: #205375;
 --secundary-color: #EFEFEF;
 --tertiary-color: #112B3C;
 --quartiary-color: #F66B0E;
}
.footer{
 background-color: var(--quartiary-color);
 height: 300px;
 color: var(--secundary-color);
}

.thanks{
 font-size: 12px;
}

.reduce-menu{
 font-size: 12px;
}

.thanks a{
 color: var(--secundary-color);
}

.thanks .btn-contact:hover{
 background-color: var(--secundary-color);
 color: var(--quartiary-color);
 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

.general-information{
 font-size: 12px;
}

.social-media div{
 font-size: 25px;
 margin: 0 10px;
}

.social-media a{
 color: var(--secundary-color);
}

.thanks div{
 margin: 10px 0px;
}

.reduce-menu div{
 margin: 10px 0px;
}
.reduce-menu a{
 color: var(--secundary-color);
 
}
