
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    --primary-color: #205375;
    --secundary-color: #EFEFEF;
    --tertiary-color: #112B3C;
    --quartiary-color: #F66B0E;
}
/*Nav bar*/
.navbar { 
    background-color: var(--primary-color);
    color: var(--secundary-color);
    height: 70px;
}

.navbar ul{
    display: flex;
}

.navbar a {
    color: var(--secundary-color);
    margin: 0 18px;
    padding: 3px 0px;
    transition: all 0.15s;
}

.navbar a:hover{
    border-bottom: 2px var(--secundary-color) solid;
}

.navbar .flex{
    justify-content: space-between;
}


/* Showcase */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color:var(--secundary-color);
    position: relative;
}

.showcase h1{
    font-size: 40px;
}
.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    overflow:visible;
    gap: 30px;
    grid-template-columns: 55% 42%;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    color: var(--quartiary-color);
    font-style: oblique;
    background-color: var(--secundary-color);
    font-weight: 400;
}

.showcase-form .form-control{
    margin: 30px 0
}

.showcase-form .card h2{
    font-weight: 400;
}

.showcase-form input[type='text'],
.showcase-form input[type='email']{
    background-color: var(--secundary-color);
    border: 0;
    border-bottom: 1px solid var(--quartiary-color);
    color: var(--quartiary-color);
    font-style: oblique;
    width: 100%;
    padding: 3px;
    font-size: 16px;

}

.showcase input:focus{
    outline: none;
}

.showcase::before,
.showcase::after{
    content: " ";
    height: 100px;
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -70px;
    transform: skewY(-3deg);
}


.btn-forms{
    background-color: var(--secundary-color);
    border: 1px var(--quartiary-color) solid;
    color:  var(--quartiary-color);
}

.btn-forms:hover{
    background-color: var(--quartiary-color);
    border: 1px var(--quartiary-color) solid;
    color: var(--secundary-color);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-contact{
    color: var(--secundary-color);
}

.btn-contact:hover{
    background-color: var(--secundary-color);
    color: var(--primary-color);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

.expirence{
    margin-top: 100px;
}

.image-container
{
    width: 130px;
    max-width: 130px;
    margin: 0 20px;
}




